
.proposition-list {
    display: flex; 
    flex-wrap: wrap; 
    padding: 0; 
    list-style-type: none; 
    gap: 10px;
}


.proposition-item {
    flex: 0 1 auto; 
    justify-content: center;
    margin: 0;
}


.proposition-item a.proposition {
    background-color: #D4A6D8;  
    color: white; 
    padding: 8px 20px;  
    display: inline-block; 
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.3s;
    text-align: center; 
    white-space: nowrap;
}


.proposition-item a.proposition:hover {
    background-color: #E1B6E4; 
    transform: scale(1.05); 
}
